/*global styling*/

/* fonts */
@font-face {
    font-family: Sofia;
    src: url("Sofia.otf") format("opentype");
}
/* colour palette */
:root{
    --background: #fcf6ec;
    --bigtextbox: #fff0d7;
    --titletextbox: #ffead3;
    --headertext: #5d3526;
    --headertext2: #824630;
    --bodytext: #b6735e;
    --navbartext: #d76953;
    --accent1: #e88c75;
    --accent2: #fed269;
    --accent3: #ffad39;
    --accent4: #b2b671;

}
/* ----------------------------------- */

/* structure styling */
body{
    /* display:flex; */
    margin: 0;
    background-color: var(--background);
}
#homediv{
    display: flex;
    height: 100vh;
    width: 100vw;
}
aside{
    height: 100vh;
    flex: 1 1 0px;

    display: flex;
    align-items:center;
    justify-content: center;
}
main{
    /* Styles */
    height: 100vh;
    width: 50vw;

    /* Centre content */
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* Content styles */
    gap: 1.5rem;
}
#titlecard{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--bigtextbox);
    width: 90%;
    height: 20vw;
    padding: 4rem 0;
    border-radius: 2rem;
}
/* ----------------------------------- */

/* side navs */
#sidenav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex: 1 1 0px;
}
#sidenav #navlinks{
    list-style-type: none;
    padding-left: 0;
    width:100%;
}
#navlinks li{
    display:flex;
    justify-content: center;
    margin: 1.5rem 0;
}
a.link:hover{
    color: var(--accent4);
}

/* top navs */
#topnav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}
.topnavitem{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#topnavtitle{
    font-weight: normal;
    font-size: 2.75vw;
    font-family: 'Sofia', cursive;
    color: var(--headertext);
    text-align: center;
    /* margin: 0; */
    text-shadow: 4px 4px #82463050;
    
}
/* #topnavtitle2{
    color:var(--headertext2);
    font-size: 5vw;
}  */
#topnavlinks{
    list-style-type: none;
}
#topnavlinks li{
    display: inline-flex;
    /* justify-content:left; */
    margin: 3vh 0;
}
ul{
    padding: 0;
}
/* ----------------------------------- */

/* icon styling */
#icons{
    padding-left: 0;
    width:100%;
}
#icons li{
    display:flex;
    justify-content: center;
    margin: 2.5rem 0;
}
svg{
    width: 3.5vw;
}
/* ----------------------------------- */

/* text styles */
.subtitle{
    display:block;
    background-color: var(--titletextbox);
    border-radius: 2em;
    margin: 2rem 0;
    padding: 0.25rem 1.5em;
}
h2{
    font-family: 'Gaegu', cursive;
    color:var(--headertext);
    font-size: 2vw;
    margin:0;
    position:relative;
    z-index: 1;
}
#title, #title2{
    font-weight: normal;
    font-size: 9vw;
    font-family: 'Sofia', cursive;
    text-align: center;
    margin: 0;
    transform: rotateZ(-5deg);
    text-shadow: 4px 4px #82463050;
    z-index: 1;
}
#title{
    color: var(--headertext);
}
#title2{
    margin-top: -0.5em;
    display: block;
    color:var(--headertext2);
}
.link{
    font-family: 'Gaegu', cursive;
    font-weight: bold;
    color: var(--navbartext);
    background-color: var(--titletextbox);
    text-decoration: none;
    padding: 0.75rem 1em;
    border-radius: 2em;
    font-size: 2vw;
}
/* ----------------------------------- */

/* shape styling */

/* flower or leaf */
.flowerleaf{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 0;
    width: 4rem;
    height: 4rem;
}
#blobleaf{
    transform: rotateZ(25deg);
}
#maple{
    transform: rotateZ(-40deg);
}

.popin{
    width: 0rem;
    transition: width 1s, height 1s;
}

.spin{
    animation: spin 15s infinite linear;
}
@keyframes spin{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

.float{
	animation: float 6s infinite ease-in-out;
}
@keyframes float{
    0% {
        transform: translatey(0px);
    }
    50%{
        transform: translatey(3vw);
    }
    100%{
        transform: translatey(0px);
    }
}

/* background */
.windowsim{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}
.backgroundline{
    position: absolute;
    z-index: -1;
    width: 12rem; 
    height:12rem;
}
#leftcornerrainbow{
    transform: rotateZ(120deg);
}
#leftgreensquiggle{
    transform: rotateZ(140deg);
}
#leftbrowntulip{
    width: 5rem;
    height:10rem;
}
#bottomdarkgreenblob{
    transform: rotateZ(90deg);
}
#bottomrightrainbow{
    transform: rotateZ(-45deg);
}
#rightopwhitesquiggle{
    transform: rotateZ(260deg);
}
#topbrowonsquiggles{
    width: 6rem;
    height:12rem;
    transform: rotateZ(70deg);
}
#topgreenleaf{
    width: 2.5rem;
    height:5rem;
    transform: rotateZ(240deg);
}

.backgroundaccent{
    position: absolute;
    z-index: -1;
    width: 3rem; 
    height:3rem;
}
#beigedotsaccent{
    width: 1.5rem;
    transform: rotateZ(90deg);
}
#pinkcrossesaccent{
    width: 4rem;
}
#rainbowaccent1{
    transform: rotateZ(-45deg);
}
#hashaccent{
    transform: rotateZ(25deg);
}
#rainbowaccent2{
    transform: rotateZ(30deg);
}


/* ----------------------------------- */

/* responsive queries */

@media screen and (max-width: 850px){

    /* home screen */
    body{flex-direction: column-reverse;}
    main{height:unset; width:unset;}
    #navlinks li{display: inline-block;}
    #sidenav #navlinks{display: flex; justify-content: center;}
    #icons li{display: inline-block; margin:0 2.5rem;}
    #icons{width: unset;}
    .link{font-size: 4vw;}
    h2{font-size: 5vw;}
    #title, #title2{font-size: 16vw;}
    svg{width: 10vw;}
    #titlecard{height: 24vw;}
    .flowerleaf{width:2rem; height: 2rem;}
    .backgroundline{width: 5rem; height: 5rem;}
    #leftbrowntulip{width: 2.5rem; height: 5rem;}
    #topbrowonsquiggles{width: 5rem; height: 10rem;}
    #topgreenleaf{width: 2rem; height:4rem;}
    .backgroundaccent{width:1.5rem; height:1.5rem;}
    #beigedotsaccent{width:1rem; height:2rem;}
    #pinkcrossesaccent{width: 2rem; height:1.5rem;}

    /* other */
    #topnavtitle{display: none;}
    /* #topnavtitle1{padding-left: 0em;} */
    /* #topnavtitle2{font-size: 3em; margin: 0rem;} */
    #topnav{justify-content: space-evenly;}
    .topnavitem{justify-content: space-evenly;}
    #topnavlinks li{margin: 0rem}
}

